scalashop/.idea/
scalashop/project/project/
scalashop/project/target/
scalashop/target/
reductions/.idea/
reductions/project/project/
reductions/project/target/
reductions/target/
kmeans/.idea/
kmeans/project/project/
kmeans/project/target/
kmeans/target/
barneshut/.idea/
barneshut/project/project/
barneshut/project/target/
barneshut/target/
